*{
    margin: 0;
    padding: 0;
}
.card_container{
    padding: 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    position: relative;
    text-decoration: none;
}
.card_container img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}
.card_container h3{
    font-size: 15px;
}
.card_container:hover .button{
    display: block;
}
.button{
    display: none;
    background-color: orange;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.rating{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.product_container{
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(200px, 1fr));
    max-width: 1450px;
    margin: 100px 100px;
    gap: 10px;
    justify-content: center;
}
.product_flexed{
    display: flex;
    gap: 20px;
    box-shadow: none;
    height: auto;
}
.product_flexed h3{
    padding: 20px 0px;
    font-weight: 700;
}
.product_flexed .button{
    width: 150px;
    display: block;
    position: static;
}
.product_flexed img{
    width: 200px ;
    height: auto;
}
@media (max-width: 760px) {
    .product_flexed{
        display: flex;
        flex-direction: column;
    }
}

.product_desc{
    width: 600px;
    font-size: small;
}
